In [ ]:

!pip install nltk
!pip install pyspellchecker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspellchecker in /usr/local/lib/python3.7/dist-packages (0.7.0)

In [ ]:
import nltk
import pandas as pd
from nltk.corpus import stopwords
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#@title Read the text file
my_text=''
f = open("culture.txt", "r")
for x in f:
  my_text+=x
print(my_text)

Indian culture is the oldest and famous among the other cultures of the world.
Indian literature refers to an amalgamation of distinct cultures of all communities, traditions, customs, and religions in India.
The diversity of Indian culture is known worldwide.
Various Indian cultures profoundly influence Indian Philosophy, art, music, and even Literature.
The Dharmic religions and Indian cultures throughout Indian history have a significant impact on the customs and traditions.

In [ ]:
#@title Read the csv file
data=pd.read_csv("train.csv")
data_text=data[['text']]
data_text.head()

                                                text
0  New rules for credit and debit card users: her...
1  Anand Mahindra wants to visit the new Hindu Te...
2  Climate change made summer drought 20 times mo...
3  Gold, silver prices today: Precious metals rec...
4  IBPS PO Prelims admit card 2022: When, where, ...

#Common Text Preprocessing Steps
We have listed below some of the most commons text preprocessing steps.

* Lowercasing
* Removing Extra Whitespaces
* Tokenization
* Spelling Correction
* Stopwords Removal
* Removing Punctuations
* Removal of Frequent Words
* Stemming
* Lemmatization

In [ ]:
#@title Lowercasing
data_text['text']=data_text['text'].str.lower()
data_text.head()

                                                text
0  new rules for credit and debit card users: her...
1  anand mahindra wants to visit the new hindu te...
2  climate change made summer drought 20 times mo...
3  gold, silver prices today: precious metals rec...
4  ibps po prelims admit card 2022: when, where, ...

In [ ]:
#@title Remove Extra Whitespaces
def remove_whitespace(text):
    return  " ".join(text.split())

# Test
remove_whitespace(data_text['text'][3])

'gold, silver prices today: precious metals record hike on mcx'

#Tokenization
<p align="justify">Tokenization is the process of breaking up the original raw text into component pieces which are known as tokens. Tokenization is usually the initial step for further NLP operations like stemming, lemmatization, text mining, text classification, sentiment analysis, language translation, chatbot creation, etc.</p>

#Character Tokenization
Character tokenization is the process of breaking text into a list of characters.

In [ ]:
text="Indian culture is the oldest and famous among the other cultures of the world. "
lst=[x for x in text]
print(lst)

['I', 'n', 'd', 'i', 'a', 'n', ' ', 'c', 'u', 'l', 't', 'u', 'r', 'e', ' ', 'i', 's', ' ', 't', 'h', 'e', ' ', 'o', 'l', 'd', 'e', 's', 't', ' ', 'a', 'n', 'd', ' ', 'f', 'a', 'm', 'o', 'u', 's', ' ', 'a', 'm', 'o', 'n', 'g', ' ', 't', 'h', 'e', ' ', 'o', 't', 'h', 'e', 'r', ' ', 'c', 'u', 'l', 't', 'u', 'r', 'e', 's', ' ', 'o', 'f', ' ', 't', 'h', 'e', ' ', 'w', 'o', 'r', 'l', 'd', '.', ' ']

#Word Tokenization 
Word tokenization is the process of breaking a string into a list of words also known as tokens. In NLTK we have a module word_tokenize() to perform word tokenization.

In [ ]:
from nltk. tokenize import word_tokenize 
print(word_tokenize(my_text))

['Indian', 'culture', 'is', 'the', 'oldest', 'and', 'famous', 'among', 'the', 'other', 'cultures', 'of', 'the', 'world', '.', 'Indian', 'literature', 'refers', 'to', 'an', 'amalgamation', 'of', 'distinct', 'cultures', 'of', 'all', 'communities', ',', 'traditions', ',', 'customs', ',', 'and', 'religions', 'in', 'India', '.', 'The', 'diversity', 'of', 'Indian', 'culture', 'is', 'known', 'worldwide', '.', 'Various', 'Indian', 'cultures', 'profoundly', 'influence', 'Indian', 'Philosophy', ',', 'art', ',', 'music', ',', 'and', 'even', 'Literature', '.', 'The', 'Dharmic', 'religions', 'and', 'Indian', 'cultures', 'throughout', 'Indian', 'history', 'have', 'a', 'significant', 'impact', 'on', 'the', 'customs', 'and', 'traditions', '.']

#Sentence Tokenization 
Sentence tokenization is the process of breaking a paragraph or a string containing sentences into a list of sentences. In NLTK, sentence tokenization can be done using sent_tokenize().

In [ ]:
from nltk.tokenize import sent_tokenize 
print (sent_tokenize(my_text))

['Indian culture is the oldest and famous among the other cultures of the world.', 'Indian literature refers to an amalgamation of distinct cultures of all communities, traditions, customs, and religions in India.', 'The diversity of Indian culture is known worldwide.', 'Various Indian cultures profoundly influence Indian Philosophy, art, music, and even Literature.', 'The Dharmic religions and Indian cultures throughout Indian history have a significant impact on the customs and traditions.']

#Whitespace Tokenization 
WhitespaceTokenizer() module of NLTK tokenizes a string on whitespace (space, tab, newline). It is an alternate option for split().

In [ ]:
from nltk.tokenize import WhitespaceTokenizer
Tokenizer=WhitespaceTokenizer()
print(Tokenizer.tokenize(my_text))

['Indian', 'culture', 'is', 'the', 'oldest', 'and', 'famous', 'among', 'the', 'other', 'cultures', 'of', 'the', 'world.', 'Indian', 'literature', 'refers', 'to', 'an', 'amalgamation', 'of', 'distinct', 'cultures', 'of', 'all', 'communities,', 'traditions,', 'customs,', 'and', 'religions', 'in', 'India.', 'The', 'diversity', 'of', 'Indian', 'culture', 'is', 'known', 'worldwide.', 'Various', 'Indian', 'cultures', 'profoundly', 'influence', 'Indian', 'Philosophy,', 'art,', 'music,', 'and', 'even', 'Literature.', 'The', 'Dharmic', 'religions', 'and', 'Indian', 'cultures', 'throughout', 'Indian', 'history', 'have', 'a', 'significant', 'impact', 'on', 'the', 'customs', 'and', 'traditions.']

#Word Punctuation Tokenization 
WordPunctTokenizer() module of NLTK tokenizes a string on punctuations.
In the below example, we have tokenized the string on punctuations by passing it to WordPuntTokenizer() function.

In [ ]:
from nltk.tokenize import WordPunctTokenizer
text="Indian culture is the oldest and famous among the other cultures of the world. "
Tokenizer=WordPunctTokenizer()
print(Tokenizer.tokenize(text))

['Indian', 'culture', 'is', 'the', 'oldest', 'and', 'famous', 'among', 'the', 'other', 'cultures', 'of', 'the', 'world', '.']

#Removing Punctuations
We can remove punctuation from a sentence by using RegexpTokenizer() function of NLTK.
In the example below, we have used RegexpTokenizer() to convert the text into a list of words that don’t contain punctuations and then joined them using .join() function.

In [ ]:
from nltk. tokenize import RegexpTokenizer 
# RegexpTokenizer to match only capitalized words
cap_tokenizer = RegexpTokenizer("[A-Z]['\w]+") 
print(cap_tokenizer.tokenize(my_text))

['Indian', 'Indian', 'India', 'The', 'Indian', 'Various', 'Indian', 'Indian', 'Philosophy', 'Literature', 'The', 'Dharmic', 'Indian', 'Indian']

#Tokenization Dataframe Columns
Quite often you will need to tokenized data in a column of pandas dataframe. This can be achieved easily by using apply and lambda function of Python with the NLTK tokenization functions.

In [ ]:
from nltk.tokenize import  word_tokenize
df = pd.DataFrame({'Phrases': ['The greatest glory in living lies not in never falling, but in rising every time we fall.', 
                              'The way to get started is to quit talking and begin doing.', 
                              'If life were predictable it would cease to be life, and be without flavor.',
                              "If you set your goals ridiculously high and it's a failure, you will fail above everyone else's success."]})
df['tokenized'] = df.apply(lambda row: nltk.word_tokenize(row['Phrases']), axis=1)
df.head()

,Phrases,tokenized
0,The greatest glory in living lies not in never...,"[The, greatest, glory, in, living, lies, not, ..."
1,The way to get started is to quit talking and ...,"[The, way, to, get, started, is, to, quit, tal..."
2,If life were predictable it would cease to be ...,"[If, life, were, predictable, it, would, cease..."
3,If you set your goals ridiculously high and it...,"[If, you, set, your, goals, ridiculously, high..."

#Spelling Correction
Spelling correction is another important step in the text preprocessing step. Typos are common in text data and we might want to correct those spelling mistakes before we do our analysis. This ensures we get better results from our models.

Here, we will be using the python package pyspellchecker for our spelling correction. We have defined our own custom function spell_check() that corrects the text passed to it.

In [ ]:
from spellchecker import SpellChecker
def spell_check(text):
    result = []
    spell = SpellChecker()
    for word in text:
        correct_word = spell.correction(word)
        result.append(correct_word)
    return result
#Test
text = "confuson matrx".split() 
spell_check(text)

['confusion', 'matrix']

#Removing Stopwords
Stopwords are trivial words like “I”, “the”, “you”, etc. that appear so frequently in the text that they may distort many NLP operations without adding much valuable information. So almost always you will have to remove stopwords from the corpus as part of your preprocessing.

NLTK library maintains a list of around 179 stopwords (shown below) that can be used to filtering stopwords from the text.

In [ ]:
en_stopwords = stopwords.words('english')
def remove_stopwords(text):
    result = []
    for token in text:
        if token not in en_stopwords:
            result.append(token)
    return result
#Test
text="Indian culture is the oldest and famous among the other cultures of the world."
remove_stopwords(text)

['I',
 'n',
 'n',
 ' ',
 'c',
 'u',
 'l',
 'u',
 'r',
 'e',
 ' ',
 ' ',
 'h',
 'e',
 ' ',
 'l',
 'e',
 ' ',
 'n',
 ' ',
 'f',
 'u',
 ' ',
 'n',
 'g',
 ' ',
 'h',
 'e',
 ' ',
 'h',
 'e',
 'r',
 ' ',
 'c',
 'u',
 'l',
 'u',
 'r',
 'e',
 ' ',
 'f',
 ' ',
 'h',
 'e',
 ' ',
 'w',
 'r',
 'l',
 '.']

In [ ]:
from nltk.util import ngrams 
my_words = word_tokenize(my_text) # This is the list of all words 
twograms = list(ngrams (my_words, 2))
print(twograms)

[('Indian', 'culture'), ('culture', 'is'), ('is', 'the'), ('the', 'oldest'), ('oldest', 'and'), ('and', 'famous'), ('famous', 'among'), ('among', 'the'), ('the', 'other'), ('other', 'cultures'), ('cultures', 'of'), ('of', 'the'), ('the', 'world'), ('world', '.'), ('.', 'Indian'), ('Indian', 'literature'), ('literature', 'refers'), ('refers', 'to'), ('to', 'an'), ('an', 'amalgamation'), ('amalgamation', 'of'), ('of', 'distinct'), ('distinct', 'cultures'), ('cultures', 'of'), ('of', 'all'), ('all', 'communities'), ('communities', ','), (',', 'traditions'), ('traditions', ','), (',', 'customs'), ('customs', ','), (',', 'and'), ('and', 'religions'), ('religions', 'in'), ('in', 'India'), ('India', '.'), ('.', 'The'), ('The', 'diversity'), ('diversity', 'of'), ('of', 'Indian'), ('Indian', 'culture'), ('culture', 'is'), ('is', 'known'), ('known', 'worldwide'), ('worldwide', '.'), ('.', 'Various'), ('Various', 'Indian'), ('Indian', 'cultures'), ('cultures', 'profoundly'), ('profoundly', 'influence'), ('influence', 'Indian'), ('Indian', 'Philosophy'), ('Philosophy', ','), (',', 'art'), ('art', ','), (',', 'music'), ('music', ','), (',', 'and'), ('and', 'even'), ('even', 'Literature'), ('Literature', '.'), ('.', 'The'), ('The', 'Dharmic'), ('Dharmic', 'religions'), ('religions', 'and'), ('and', 'Indian'), ('Indian', 'cultures'), ('cultures', 'throughout'), ('throughout', 'Indian'), ('Indian', 'history'), ('history', 'have'), ('have', 'a'), ('a', 'significant'), ('significant', 'impact'), ('impact', 'on'), ('on', 'the'), ('the', 'customs'), ('customs', 'and'), ('and', 'traditions'), ('traditions', '.')]

In [ ]:
from nltk. tokenize import MWETokenizer # multi-word expression 
mwe_tokenizer = MWETokenizer([('You','all'), ('of', 'all', 'time')]) 
mwe_tokens = mwe_tokenizer. tokenize(word_tokenize(my_text)) 
mwe_tokens

['Indian',
 'culture',
 'is',
 'the',
 'oldest',
 'and',
 'famous',
 'among',
 'the',
 'other',
 'cultures',
 'of',
 'the',
 'world',
 '.',
 'Indian',
 'literature',
 'refers',
 'to',
 'an',
 'amalgamation',
 'of',
 'distinct',
 'cultures',
 'of',
 'all',
 'communities',
 ',',
 'traditions',
 ',',
 'customs',
 ',',
 'and',
 'religions',
 'in',
 'India',
 '.',
 'The',
 'diversity',
 'of',
 'Indian',
 'culture',
 'is',
 'known',
 'worldwide',
 '.',
 'Various',
 'Indian',
 'cultures',
 'profoundly',
 'influence',
 'Indian',
 'Philosophy',
 ',',
 'art',
 ',',
 'music',
 ',',
 'and',
 'even',
 'Literature',
 '.',
 'The',
 'Dharmic',
 'religions',
 'and',
 'Indian',
 'cultures',
 'throughout',
 'Indian',
 'history',
 'have',
 'a',
 'significant',
 'impact',
 'on',
 'the',
 'customs',
 'and',
 'traditions',
 '.']